.body__datepicker > .MuiInputBase-root {
     padding : 6px;
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
    border: .0625rem solid white;
    border-radius: 4px;
}
.body__datepicker > .MuiInputLabel-shrink{
    transform: translate(-50px, 30px) scale(1);
}

#date-picker-dialog{
    width : 120px !important;
}

 .MuiIconButton-label{

    border-radius: 50px;
    background: linear-gradient(145deg, #ccd5de, #f3feff);
    box-shadow:  2px 2px 4px #c1c9d2, 
                 -2px -2px 4px #ffffff;
}

.MuiPaper-root{
    background : var(--color-surface) !important;
}

.MuiPickersCalendarHeader-iconButton{
    background : var(--color-surface) !important;
}

.MuiPickersCalendarHeader-iconButton > .MuiIconButton-label{
    border-radius: 50px;
background: linear-gradient(145deg, #f3feff, #ccd5de);
box-shadow:  2px 2px 4px #c1c9d2, 
             -2px -2px 4px #ffffff;
}

.MuiPickersDay-daySelected{
    border-radius: 50px;
background: #3f51b5;
box-shadow: inset 4px 4px 8px #36459a, 
            inset -4px -4px 8px #485dd0 !important;
}

.MuiPickersDay-daySelected > .MuiIconButton-label{
    background: none !important; 
    box-shadow: none !important;
}